<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
	<listeners>
		<listener class-name="com.oneapp.basic.MyListeners" />
	</listeners>
	<test thread-count="5" name="RegressionTests">
		<groups>
			<run>
				<include name="Regression" />
			</run>
		</groups>
		<classes>
			<class name="com.oneapp.test_suits.Login_testcases">
				<methods>
					<include name="validate_validLogin_testcase"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- LoginTest -->
</suite> <!-- LoginSuite -->
